extends ../layout

block content
    h1. 
        Calendar #{calendar.name}

    p Description: #{calendar.description}
    p Events:  
    ul
        - each event, i in  calendar.events
            li
               p Name: #{event.name} 
               p Description: #{event.description}
               p Start time: #{event.startTime}
               p End time: #{event.endTime}
               p Location: #{event.location}
               p Priority: #{event.priority}
               
               a(href='/calendars/events/#{event._id}/edit') Edit event
               form(action='/calendars/events/#{event._id}',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
              
    p 
                    a(href='/calendars/#{calendar._id}/events/new') Add event