extends ../layout

block content
    h1. 
        Calendar #{calendar.name}

    p Description: #{calendar.priority}
    p Events:  
    ul
        - each event, i in  calendar.events
            li
               p Name: #{event.name} 
               p Description: #{event.description}
               p Start time: #{event.startTime}
               p End time: #{event.endTime}
               p Priority: #{event.priority}
              
    p 
                    a(href='/calendars/#{calendar._id}/events/new') Add event