extends ../../layout

block content
    h1.
         #{title}
    ul
        - each event, i in events
            li
               p Name: #{event.name} 
               p Description: #{event.description}
               p Start time: #{event.startTime}
               p End time: #{event.endTime}
               p Location: #{event.location}
               p Priority: #{event.priority}

    form#formSearchEvents(name="searchEvents",method="get",action="/calendars/#{calendar._id}/events")
        p Location: 
            input#inputLocation(type="text", placeholder="e.g New York", name="location")
        p Date:
            input#inputDate(type="date", placeholder="eg mm/dd/yyyy hh:mm:ss ", name="startTime")
        p
            button#btnSubmit(type="submit") Search 
        
        
        